/* ------- CartScreen ------- */


.myCart btnPurchase {
background-color: var(--color-secondary);
color: white;
}
.cart__container {
    display: contents;
    padding: 20px;
  }

.cardinfo {
    padding: 20px;
    margin: 20px;
    text-align: start;
    border: 1px solid #9996;
  }