/* ------- PurchaseScreen ------- */
.product {
    padding: var(--padding-mobile);
    padding-bottom: 60px;
  }
  .purchases__container {
    display: contents;
   
  
  }
  .puchase-card {
    padding: 20px;
    margin: 20px;
    text-align: start;
    border: 1px solid #9996;
  }
  .product-info__description {
    line-height: 1.5;
    grid-column: span 2;
    margin-bottom: 30px;
  }
